<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Runner.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>5A6543ED90C69115A7F5FC23A8C920597C81E636</string>
				<key>dateExpires</key>
				<string>30/12/2021</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5A6543ED90C69115A7F5FC23A8C920597C81E636</string>
						<key>dateExpires</key>
						<string>30/12/2021</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PRFBH5FHKP</string>
						<key>name</key>
						<string>Akademi.al SH.P.K</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5A6543ED90C69115A7F5FC23A8C920597C81E636</string>
						<key>dateExpires</key>
						<string>30/12/2021</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PRFBH5FHKP</string>
						<key>name</key>
						<string>Akademi.al SH.P.K</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5A6543ED90C69115A7F5FC23A8C920597C81E636</string>
						<key>dateExpires</key>
						<string>30/12/2021</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>TOCropViewController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PRFBH5FHKP</string>
						<key>name</key>
						<string>Akademi.al SH.P.K</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5A6543ED90C69115A7F5FC23A8C920597C81E636</string>
						<key>dateExpires</key>
						<string>30/12/2021</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>device_info.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PRFBH5FHKP</string>
						<key>name</key>
						<string>Akademi.al SH.P.K</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5A6543ED90C69115A7F5FC23A8C920597C81E636</string>
						<key>dateExpires</key>
						<string>30/12/2021</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>flutter_downloader.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PRFBH5FHKP</string>
						<key>name</key>
						<string>Akademi.al SH.P.K</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5A6543ED90C69115A7F5FC23A8C920597C81E636</string>
						<key>dateExpires</key>
						<string>30/12/2021</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>flutter_inappwebview.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PRFBH5FHKP</string>
						<key>name</key>
						<string>Akademi.al SH.P.K</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5A6543ED90C69115A7F5FC23A8C920597C81E636</string>
						<key>dateExpires</key>
						<string>30/12/2021</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>flutter_keyboard_visibility.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PRFBH5FHKP</string>
						<key>name</key>
						<string>Akademi.al SH.P.K</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5A6543ED90C69115A7F5FC23A8C920597C81E636</string>
						<key>dateExpires</key>
						<string>30/12/2021</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>image_cropper.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PRFBH5FHKP</string>
						<key>name</key>
						<string>Akademi.al SH.P.K</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5A6543ED90C69115A7F5FC23A8C920597C81E636</string>
						<key>dateExpires</key>
						<string>30/12/2021</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>image_picker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PRFBH5FHKP</string>
						<key>name</key>
						<string>Akademi.al SH.P.K</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5A6543ED90C69115A7F5FC23A8C920597C81E636</string>
						<key>dateExpires</key>
						<string>30/12/2021</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>native_pdf_renderer.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PRFBH5FHKP</string>
						<key>name</key>
						<string>Akademi.al SH.P.K</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5A6543ED90C69115A7F5FC23A8C920597C81E636</string>
						<key>dateExpires</key>
						<string>30/12/2021</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>path_provider.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PRFBH5FHKP</string>
						<key>name</key>
						<string>Akademi.al SH.P.K</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5A6543ED90C69115A7F5FC23A8C920597C81E636</string>
						<key>dateExpires</key>
						<string>30/12/2021</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>url_launcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PRFBH5FHKP</string>
						<key>name</key>
						<string>Akademi.al SH.P.K</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5A6543ED90C69115A7F5FC23A8C920597C81E636</string>
						<key>dateExpires</key>
						<string>30/12/2021</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>webview_flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PRFBH5FHKP</string>
						<key>name</key>
						<string>Akademi.al SH.P.K</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>PRFBH5FHKP.al.akademi</string>
				<key>com.apple.developer.team-identifier</key>
				<string>PRFBH5FHKP</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>PRFBH5FHKP.al.akademi</string>
				</array>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>a0db2d9d-2f83-4996-ba79-f6483e12b13c</string>
				<key>name</key>
				<string>Testing Profile</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>PRFBH5FHKP</string>
				<key>name</key>
				<string>Akademi.al SH.P.K</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
